{%extends 'df_goods/base.html'%}
{%block head%}
{%endblock head%}
{%block content2%}
		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
                <a href="/glist{{type_name.id}}_1_1/" {%if pageid == '1'%}class="active"{%endif%} id="moren">默认</a>
                <a href="/glist{{type_name.id}}_1_2/" {%if pageid == '2'%}class="active"{%endif%} id="price">价格</a>
                <a href="/glist{{type_name.id}}_1_3/" {%if pageid == '3'%}class="active"{%endif%} id="click">人气</a>
			</div>

			<ul class="goods_type_list clearfix">
				<!--遍历当前页中所有的对象-->
				{%for good in page%}
				<li>
					<a href="/detail{{good.id}}/"><img src="/static/{{good.gpic}}"></a>
					<h4><a href="/detail{{good.id}}/">{{good.gtitle}}</a></h4>
					<div class="operate">
						<span class="prize">￥{{good.gprice}}</span>
						<span class="unit">{{good.gunit}}</span>
						<a href="/cart/add{{good.id}}_1/" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
				{%endfor%}
			</ul>
			<div class="pagenation">
				<!--page对象的方法，判断是否有上一页-->
				{%if page.has_previous%}
					<a href="/glist{{tid}}_1_{{pageid}}/"
					<a href="/glist{{tid}}_{{page.number|add:-1}}_{{pageid}}/"><上一页</a>
				{%endif%}

				{%if page.paginator.num_pages <= 5%}
				<!--当前页对应的paginator对象，返回页码列表(所有的页数)，从１起-->
					{%for i in page.paginator.page_range%}
						<!--返回当前页是第几页-->
						{%if i == page.number%}
							<a href="#" class="active">{{i}}</a>
						{%else%}
							<a href="/glist{{tid}}_{{i}}_{{pageid}}/">{{i}}</a>
						{%endif%}
					{%endfor%}
				{%else%}
					{%if page.number == 1%}
						<a href="#" class="active">1</a>
						<a href="/list{{ tid }}_2_{{ orderby }}/">2</a>
						<a href="/list{{ tid }}_3_{{ orderby }}/">3</a>
						<a href="/list{{ tid }}_4_{{ orderby }}/">4</a>
						<a href="/list{{ tid }}_5_{{ orderby }}/">5</a>
					{% elif page.number == 2 %}
						<a href="/list{{ tid }}_1_{{ orderby }}/">1</a>
						<a href="#" class="active">2</a>
						<a href="/list{{ tid }}_3_{{ orderby }}/">3</a>
						<a href="/list{{ tid }}_4_{{ orderby }}/">4</a>
						<a href="/list{{ tid }}_5_{{ orderby }}/">5</a>
					{% elif page.number == page.paginator.num_pages|add:-1 %}
						<a href="/list{{ tid }}_{{ page.number|add:-3 }}_{{ orderby }}/">{{ page.number|add:-3 }}</a>
						<a href="/list{{ tid }}_{{ page.number|add:-2 }}_{{ orderby }}/">{{ page.number|add:-2 }}</a>
						<a href="/list{{ tid }}_{{ page.number|add:-1 }}_{{ orderby }}/">{{ page.number|add:-1 }}</a>
						<a href="#" class="active">{{ page.number }}</a>
						<a href="/list{{ tid }}_{{ page.number|add:1 }}_{{ orderby }}/">{{ page.number|add:1 }}</a>
					{% elif page.number == page.paginator.num_pages %}
						<a href="/list{{ tid }}_{{ page.number|add:-4 }}_{{ orderby }}/">{{ page.number|add:-4 }}</a>
						<a href="/list{{ tid }}_{{ page.number|add:-3 }}_{{ orderby }}/">{{ page.number|add:-3 }}</a>
						<a href="/list{{ tid }}_{{ page.number|add:-2 }}_{{ orderby }}/">{{ page.number|add:-2 }}</a>
						<a href="/list{{ tid }}_{{ page.number|add:-1 }}_{{ orderby }}/">{{ page.number|add:-1 }}</a>
						<a href="#" class="active">{{ page.number }}</a>
					{% else %}
						<a href="/list{{ tid }}_{{ page.number|add:-2 }}_{{ orderby }}/">{{ page.number|add:-2 }}</a>
						<a href="/list{{ tid }}_{{ page.number|add:-1 }}_{{ orderby }}/">{{ page.number|add:-1 }}</a>
						<a href="#" class="active">{{ page.number }}</a>
						<a href="/list{{ tid }}_{{ page.number|add:1 }}_{{ orderby }}/">{{ page.number|add:1 }}</a>
						<a href="/list{{ tid }}_{{ page.number|add:2 }}_{{ orderby }}/">{{ page.number|add:2 }}</a>
					{% endif %}
				{% endif %}


				{%if page.has_next%}
					<a href="/glist{{tid}}_{{page.number|add:1}}_{{pageid}}/">下一页></a>
					<a href="/glist{{tid}}_{{page.paginator.num_pages}}_{{pageid}}/"></a>
				{%endif%}
			</div>
		</div>
{%endblock content2%}
